# #100Viz 14 - Finding Stories

This installment of #100Viz is a little different in terms of workflow. Soon after I started this series I realized just how hard it is to constantly come up with good ideas for data analysis and visualization. 
Fortunately, this week's episode of [DataVizToday](https://dataviztoday.com/shownotes/33) is all about finding good stories to tell with your data by using this workflow:


#### CTR: Conflict → Timeliness → Resolution
![workflow_image](https://static1.squarespace.com/static/59b82daff14aa11bc9910930/t/5bbc122fe5e5f085d2f3b889/1539052090018/workflow.png?format=500w)

I'll be using the same dataset from [data.world on avocado prices](https://data.world/makeovermonday/2018w40-avocado-prices)

***
__Set up__

In [1]:
import pandas as pd
import altair as alt

In [2]:
original = pd.read_csv('https://query.data.world/s/fs2xufwllyqmhuvjkudsmvbr5djiag')

original.head()

,Date,AveragePrice,Total Volume,Small Hass,Large Hass,XL Hass,Total Bags,Small Bags,Large Bags,XLarge Bags,Type,Year,Region
0,27/12/2015,1.33,64236.62,1036.74,54454.85,48.16,8696.87,8603.62,93.25,0.0,conventional,2015,Albany
1,20/12/2015,1.35,54876.98,674.28,44638.81,58.33,9505.56,9408.07,97.49,0.0,conventional,2015,Albany
2,13/12/2015,0.93,118220.22,794.70,109149.67,130.50,8145.35,8042.21,103.14,0.0,conventional,2015,Albany
3,6/12/2015,1.08,78992.15,1132.00,71976.41,72.58,5811.16,5677.40,133.76,0.0,conventional,2015,Albany
4,29/11/2015,1.28,51039.60,941.48,43838.39,75.78,6183.95,5986.26,197.69,0.0,conventional,2015,Albany

In [3]:
original.shape

(18249, 13)

The assumption is that: 
<br>`Total Volume` = `Small Hass` + `Large Hass` + `XL Hass`  + `Small Bags` + `Large Bags` + `XLarge Bags` which are all in thousands.
<br>`Total Bags` = `Small Bags` + `Large Bags` + `XLarge Bags` wich are also in thousands.
<br>`AveragePrice` is in contemporary dollars.

Because `AveragePrice` could be an interesting variable to explore we'll adjust it using the [Seasonally Adjusted Consumer Price Index (CPI) from the Bureau of Labor Statistics](https://www.bls.gov/cpi/seasonal-adjustment/home.htm).
This is saved as the variable `SeasonallyAdjusted_AveragePrice`.

***
We'll focus in CA only for this analysis.

In [4]:
working_df = pd.read_csv("../data/processed/working-CA_pct_changes.csv")

working_df.head()

,Date,Year,Type,Region,percent_change,SeasonallyAdjusted_AveragePrice,AveragePrice,Total Volume,Small Hass,Large Hass,XL Hass,Small Bags,Large Bags,XLarge Bags,Total Bags
0,2015-12-27,2015,conventional,California,0.835627,0.90,0.90,5040365.47,1833946.59,1760956.02,232755.85,1090140.07,110737.35,11829.59,1212707.01
1,2015-12-20,2015,conventional,California,0.872766,0.94,0.94,4695737.21,1676601.43,1543280.76,266689.82,1061703.58,136747.10,10714.52,1209165.20
2,2015-12-13,2015,conventional,California,0.807772,0.87,0.87,5259354.30,1806690.08,1627240.76,232985.13,1404012.00,180150.37,8275.96,1592438.33
3,2015-12-06,2015,conventional,California,0.724210,0.78,0.78,5775536.27,1943065.50,2100246.17,221957.26,1376640.91,126664.37,6962.06,1510267.34
4,2015-12-27,2015,organic,California,0.892104,1.46,1.45,98576.63,14306.68,50893.97,0.00,29507.45,3868.53,0.00,33375.98

***
##### Conflict
I already expect to pay 1 or 1.25 dollars per avocado in California. I already expect to pay a little more for organic. 

##### Timeliness
1. When are avocadoes cheaper? Not overall but if I already expected to pay 1.25 or 2 dollars for an organic avocado, when is that same avocado cheaper by comparison to what I was already willing to pay (aka the average avocado price)?
2. Organic avocadoes are more expensive but they always seem to follow the same price trend as conventional avocadoes, is there a time where these two converge? Is there a time when, for example, an organic avocado is cheaper (by comparison to organic avocado prices) than a conventional avocado is (by comparison to other conventional avocadoes)? In other words, is there a time when there is a deal on one type of avocado but not the other?

##### Resolution

![final_image](../images/final/14_-_Finding_Stories.png)